#header {
	height: 500px;
	border-bottom: 1px solid lightgrey;
}

#header-text {
	padding-top: 150px;
	text-align: center;
}

* {
	border 1px solid black;
}

h1 {

	font-size: 60px;
	font-weight: 400;

}	

#category {
	text-align: center;
	
}

#category-buttons {
	
	margin-left: 120px; 
	margin-top: 50px;
	
}

#button-row {
	margin-left: 25px;
	
}

#cat1 {
	margin-top: 80px;	
	height: 190px;
	padding: 0px 20px;
	
}

#cat-text {
	
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
	
	border: 2px solid grey;

}

#cat-text > h3 {

	font-weight: 400;
	
}

#cat2 {
	margin-top: 80px;	
	height: 190px;
	padding: 0px 20px;
	
}


#cat3 {
	margin-top: 80px;	
	height: 190px;
	padding: 0px 20px;
	
}



#cat4 {
	margin-top: 80px;	
	height: 190px;
	padding: 0px 20px;
	
}



#cat5 {
	margin-top: 80px;	
	height: 190px;
	padding: 0px 20px;
	
}




#row2 {
	margin: 0px;
}