<html>
	<head></head>
	
	<body>
	  <div class="container">
	
		<div id="content-category" class="row">
		
			<div id="side-bar" class="col-md-3">
				<div id="side-list">
					<ul style="list-style-type: none;" class = "ul-category">
						<li class = "li-category">Education</li>
						<li class = "li-category">Environment</li>
						<li class = "li-category">Food</li>
						<li class = "li-category">Water</li>
						<li class = "li-category">Human Rights</li>
						<li class = "li-category">Obamacare</li>
					</ul>
				</div>
			</div> 
			
			<div id="selection" class="col-md-9">
			    <div class="row">
					<div class="col-md-3">
  						<div class="tab-category">
  						</div>
					</div>
				
					<div class="col-md-3">
						<div class="tab-category">
						</div>
					</div>
				
					<div class="col-md-3">
						<div class="tab-category">
						</div>
					</div> 
			    </div>
			</div>
		</div>
		
	</div>
		
	</body>
</html>