
		<div id = "header-discover">Discover</div>
		
		<div id = "main-discover">
			<div id = "hot" class = "row-discover">
				<div class = "sub-heading">Hot</div>
				<div class = "tab-discover">
					<div class = "frame"></div>
					<div class = "progress-bar">420%</div>
				</div>
				<div class = "tab-discover">
					<div class = "frame"></div>
					<div class = "progress-bar">420%</div>
				</div>
				<div class = "tab-discover">
					<div class = "frame"></div>
					<div class = "progress-bar">420%</div>
				</div>
				<div class = "tab-discover">
					<div class = "frame"></div>
					<div class = "progress-bar">420%</div>
				</div>
			</div>
			
			<div class = "sub-heading">Categories</div>
			
			<div class="row row-discover">
    			<% @categories.each do |category|%>
				  <div class="col-md-4">
				    <div class="category">
				      <a href = "/display_categories/"`" class = "cat-link"><%= category.name %></a>
				    </div>
				  </div>
				<% end %>
			</div>
			
			<div id = "hot-tw" class = "row-discover">
				<div class = "sub-heading">Hot This Week</div>
				<div class = "row-discover">
					<div class = "tab-discover">
						<div class = "frame"></div>
					<div class = "progress-bar">420%</div>
					</div>
					<div class = "tab-discover">
						<div class = "frame"></div>
					<div class = "progress-bar">420%</div>
					</div>
					<div class = "tab-discover">
						<div class = "frame"></div>
					<div class = "progress-bar">420%</div>
					</div>
					<div class = "tab-discover">
						<div class = "frame"></div>
					<div class = "progress-bar">420%</div>
					</div>
				</div>
			</div>
			
		</div>