<!DOCTYPE HTML>

<html>
	<head>
		<link rel = "stylesheet" type = "text/css" href = "../../../../../css/bootstrap.css" />
		<link rel = "stylesheet" type = "text/css" href = "../../../../../css/signupstylesheet.css" />
	</head>
	
	<body>
	
		<div id = "main">
			<div id = "header">Sign In</div>
	
			<form role = "form">
			
				<div role = "form-group">
					<label for = "username-input">Username</label>
					<input style = "width : 500px" type = "username" class = "form-control" id = "username-input" placeholder = "Enter Username Here"></input>
				</div>
			
				<div role = "form-group">
					<label for = "password-input">Password</label>
					<input style = "width : 500px" type = "password" class = "form-control" id = "password-input" placeholder = "Enter Password Here"></input>
				</div>
			
				<div role = "checkbox">
					<label>
						<input type="checkbox"> Keep me signed in </a>
					</label>
				</div>
				<div>
				<p><a href="https://edit.yahoo.com/forgotroot?done=http%3A%2F%2Fwww.yahoo.com&src=&partner=&intl=us&lang=en-US">I can't access my account</a></p>
			    </div>
				<div> 
				<p><button style = "width : 500px" type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button></p>
				</div>
			
			    <hr>
			    
			    <div>
			    <p>Don't have an account? Sign up now!</p>
			    </div>
			    
			    <div>
			    <p><button type="submit" style = "width : 500px" class="btn btn-primary btn-lg btn-block">Create New Account</button></p>
			    </div>
			</form>
	</body>
</html>

<!-- Emma Lee 2014 -->